// place your custom styles here
@import "palette";

.theme-hope-content a:hover {
  text-decoration: none;
  color: $theme-color-light;
}

.vp-page-title h1 .icon{
  color: $text-color;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.12rem;
}
h6 {
  font-size: 1rem;
}
table {
  display: table;
  width: 100%;
}
blockquote {
  font-size: 90%;
  font-style: italic;
  /* background-color: #9C4C2D; */
}
.god-img {
  width: 150px;
}

.anc-img {
  width: 250px;
}

.anc-big-img {
  width: 350px;
}

@media only screen and (max-width: 550px) {
  .anc-img {
    width: 100%;
  }

  .anc-big-img {
    width: 100%;
  }
}

.div-with-image {
  display: inline-block;
  width: 100%;
}


