// you can change colors here
$theme-color: rgb(196, 106, 85);
$text-color: rgb(224, 224, 224);
$theme-color-light: rgb(223, 79, 46);

$bg-color: #262626;
$bg-color-secondary: #5d5c5b;
$bg-color-tertiary: #352a26;
